@import '../../styles/variables';

.main {
	max-width: $maxWidth;
	box-sizing: border-box;
	margin: auto;
	padding: 5rem 2rem;

	display: grid;
	grid-template:
		'ranking topleft    topright'
		'ranking bottomleft bottomright'
		/ 2fr    2fr        1fr;
	justify-items: start;
	align-items: center;
}

.background {
	background: $darkBlue;
	flex: 1;
}

.price {
	font-size: 1.4rem;
}

.title {
	font-size: 1rem;
	font-weight: bold;
	color: $midBlue;
	letter-spacing: 1px;
}

.ranking {
	@extend .title;
	grid-area: ranking;
	padding-left: 3rem;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	gap: 1rem;
}

%section {
	text-transform: uppercase;
	padding: 2rem 0;
}

.topleft {
	@extend %section;
	grid-area: topleft;
}

.topright {
	@extend %section;
	grid-area: topright;
}

.bottomleft {
	@extend %section;
	grid-area: bottomleft;
}

.bottomright {
	@extend %section;
	grid-area: bottomright;
}
