$eggBlue: #ebf0f4;
$brightBlue: #66a7e8;
$midBlue: #586982;
$darkishBlue: #1e385a;
$darkerBlue: #1c3252;
$darkestBlue: #12233d;

$green: #19c17a;

$red: #f14949;

$pink: #ed0556;

$textGrey: #606c84;
$textAlt: #aaafc8;
$lightGrey: #DDDDDD;

$maxWidth: 1200px;