@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	&, &::before, &::after {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
}

html {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	color: $textGrey;
}

body {
	margin: 0;
	width: 100vw;
	overflow-x: hidden;
}

main {
	padding: 0 2rem;
	max-width: $maxWidth;
	width: 100%;
	margin: 0 auto;
}

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

img, svg {
	width: 40px;
	height: 40px;
	object-fit: cover;
}