@import '../../styles/variables';

.avatar {
	display: grid;
	grid-template:
		'icon fullname'
		'icon abbreviation';
	column-gap: 1rem;
	align-items: center;
}

.icon {
	grid-area: icon;
	height: 50px;
	width: 50px;
	object-fit: cover;
}

.fullname {
	grid-area: fullname;
	align-self: end;
	letter-spacing: 2px;
	font-size: 1.3rem;
}

.abbreviation {
	grid-area: abbreviation;
	text-transform: uppercase;
	color: $textAlt;
	align-self: start;
	font-size: 0.9rem;
	font-weight: bold;
}